.heading{
color: blue;
font-size: 50px;
font-family: 'Times New Roman', Times, serif;
}

.subHeading{
    color: brown;
    font-size: 20px;
    font-family: 'Trebuchet MS';
    float: left;
}

.subHeading1{
    color: rgb(255, 6, 6);
    font-size: 20px;
    font-family: 'Trebuchet MS';
    float: right;
}

.result{
    color: black;
    float: none;
    margin-left: 100px;
}

.subHeading2{
    color: brown;
    font-size: 20px;
    font-family: 'Trebuchet MS';
    float: left;
}

.subHeading3{
    color: rgb(255, 6, 6);;
    font-size: 20px;
    font-family: 'Trebuchet MS';
    float: right;
}

.heading1{
    color: blue;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    }

.heading2{
    color: blue;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    }
    
.subHeading4{
    color: brown;
    font-size: 20px;
    font-family: 'Trebuchet MS';
    float: left;
    }

.subHeading5{
    color: rgb(255, 6, 6);;
    font-size: 20px;
    font-family: 'Trebuchet MS';
    float: right;
    }

body{
    background-color: rgb(163, 113, 52);
}